
  @font-face{
    font-family:'Sofia Pro';
    src:url('https://f1.codeday.org/topo/fonts/SofiaPro-Bold.woff2') format('woff2'),url('https://f1.codeday.org/topo/fonts/SofiaPro-Bold.woff') format('woff'),url('https://f1.codeday.org/topo/fonts/SofiaPro-Bold.ttf') format('truetype');
    font-weight:700;
    font-style:normal;
    font-display: swap;
  }
  @font-face{
    font-family:'Sofia Pro';
    src: url('https://f1.codeday.org/topo/fonts/SofiaPro-Regular.woff2') format('woff2'),url('https://f1.codeday.org/topo/fonts/SofiaPro-Regular.woff') format('woff'),url('https://f1.codeday.org/topo/fonts/SofiaPro-Regular.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
    font-display: swap;
  }
  @font-face{
    font-family:'Sofia Pro';
    src:url('https://f1.codeday.org/topo/fonts/SofiaPro-Regularitalic.woff2') format('woff2'),url('https://f1.codeday.org/topo/fonts/SofiaPro-Regularitalic.woff') format('woff'),url('https://f1.codeday.org/topo/fonts/SofiaPro-Regularitalic.ttf') format('truetype');
    font-weight:400;
    font-style:italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Gosha Sans';
    font-weight: 700;
    src: url('https://f1.codeday.org/topo/fonts/GoshaSans-Bold.woff2') format('woff2'),url('https://f1.codeday.org/topo/fonts/GoshaSans-Bold.woff') format('woff'),url('https://f1.codeday.org/topo/fonts/GoshaSans-Bold.ttf') format('truetype');
    font-display: swap;
  }
  @font-face{
    font-family:'Fira Code';
    src:url('https://f1.codeday.org/topo/fonts/firacode-bold-webfont.woff2') format('woff2'),url('https://f1.codeday.org/topo/fonts/firacode-bold-webfont.woff') format('woff');
    font-weight:700;
    font-style:normal;
    font-display: swap;
  }
  @font-face{
    font-family:'Fira Code';
    src:url('https://f1.codeday.org/topo/fonts/firacode-regular-webfont.woff2') format('woff2'), url('https://f1.codeday.org/topo/fonts/firacode-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
    font-display: swap;
  }

$black: #000000;
$blackAlpha-100: rgba(0, 0, 0, 0.06);
$blackAlpha-200: rgba(0, 0, 0, 0.08);
$blackAlpha-300: rgba(0, 0, 0, 0.16);
$blackAlpha-400: rgba(0, 0, 0, 0.24);
$blackAlpha-50: rgba(0, 0, 0, 0.04);
$blackAlpha-500: rgba(0, 0, 0, 0.36);
$blackAlpha-600: rgba(0, 0, 0, 0.48);
$blackAlpha-700: rgba(0, 0, 0, 0.64);
$blackAlpha-800: rgba(0, 0, 0, 0.80);
$blackAlpha-900: rgba(0, 0, 0, 0.92);
$blue-100: #bee3f8;
$blue-1000: #13222f;
$blue-200: #90cdf4;
$blue-300: #63b3ed;
$blue-400: #4299e1;
$blue-50: #ebf8ff;
$blue-500: #3182ce;
$blue-600: #2b6cb0;
$blue-700: #2c5282;
$blue-800: #2a4365;
$blue-900: #1A365D;
$brand: #ff686b;
$current: currentColor;
$current-background: #ffffff;
$current-bg: #ffffff;
$current-border: #e6dfdf;
$current-borderColor: #e6dfdf;
$current-color: #252222;
$current-placeholder: #ad9c9c;
$current-primary: #ff686b;
$current-text: #252222;
$current-textLight: #717171;
$cyan-100: #C4F1F9;
$cyan-1000: #102827;
$cyan-200: #9DECF9;
$cyan-300: #76E4F7;
$cyan-400: #0BC5EA;
$cyan-50: #EDFDFD;
$cyan-500: #00B5D8;
$cyan-600: #00A3C4;
$cyan-700: #0987A0;
$cyan-800: #086F83;
$cyan-900: #065666;
$facebook-100: #D9DEE9;
$facebook-200: #B7C2DA;
$facebook-300: #6482C0;
$facebook-400: #4267B2;
$facebook-50: #E8F4F9;
$facebook-500: #385898;
$facebook-600: #314E89;
$facebook-700: #29487D;
$facebook-800: #223B67;
$facebook-900: #1E355B;
$failure-bg: #ff9598;
$failure-border: #ffe8e9;
$failure-text: #6a2b2d;
$grad-darkSkelly: linear-gradient(270deg, #756969 0, #958686 50%, #756969 100%);
$grad-darken-lg-0: linear-gradient(0deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-120: linear-gradient(120deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-135: linear-gradient(135deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-150: linear-gradient(150deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-180: linear-gradient(180deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-210: linear-gradient(210deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-240: linear-gradient(240deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-270: linear-gradient(270deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-30: linear-gradient(30deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-300: linear-gradient(300deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-330: linear-gradient(330deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-45: linear-gradient(45deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-60: linear-gradient(60deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-lg-90: linear-gradient(90deg, rgba(0, 0, 0, 0.64) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-0: linear-gradient(0deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-120: linear-gradient(120deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-135: linear-gradient(135deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-150: linear-gradient(150deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-180: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-210: linear-gradient(210deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-240: linear-gradient(240deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-270: linear-gradient(270deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-30: linear-gradient(30deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-300: linear-gradient(300deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-330: linear-gradient(330deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-45: linear-gradient(45deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-60: linear-gradient(60deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-darken-sm-90: linear-gradient(90deg, rgba(0, 0, 0, 0.16) 0%, rgba(0,0,0,0) 100%);
$grad-lemonlime-0: linear-gradient(0deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-120: linear-gradient(120deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-135: linear-gradient(135deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-150: linear-gradient(150deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-180: linear-gradient(180deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-210: linear-gradient(210deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-240: linear-gradient(240deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-270: linear-gradient(270deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-30: linear-gradient(30deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-300: linear-gradient(300deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-330: linear-gradient(330deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-45: linear-gradient(45deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-60: linear-gradient(60deg, #50c4c0 0%, #56ca53 100%);
$grad-lemonlime-90: linear-gradient(90deg, #50c4c0 0%, #56ca53 100%);
$grad-lighten-lg-0: linear-gradient(0deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-120: linear-gradient(120deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-135: linear-gradient(135deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-150: linear-gradient(150deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-180: linear-gradient(180deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-210: linear-gradient(210deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-240: linear-gradient(240deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-270: linear-gradient(270deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-30: linear-gradient(30deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-300: linear-gradient(300deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-330: linear-gradient(330deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-45: linear-gradient(45deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-60: linear-gradient(60deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-lg-90: linear-gradient(90deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-0: linear-gradient(0deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-120: linear-gradient(120deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-135: linear-gradient(135deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-150: linear-gradient(150deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-180: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-210: linear-gradient(210deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-240: linear-gradient(240deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-270: linear-gradient(270deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-30: linear-gradient(30deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-300: linear-gradient(300deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-330: linear-gradient(330deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-45: linear-gradient(45deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-60: linear-gradient(60deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-lighten-sm-90: linear-gradient(90deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255 ,0) 100%);
$grad-peachy-0: linear-gradient(0deg, #ff9598 0%, #eea261 100%);
$grad-peachy-120: linear-gradient(120deg, #ff9598 0%, #eea261 100%);
$grad-peachy-135: linear-gradient(135deg, #ff9598 0%, #eea261 100%);
$grad-peachy-150: linear-gradient(150deg, #ff9598 0%, #eea261 100%);
$grad-peachy-180: linear-gradient(180deg, #ff9598 0%, #eea261 100%);
$grad-peachy-210: linear-gradient(210deg, #ff9598 0%, #eea261 100%);
$grad-peachy-240: linear-gradient(240deg, #ff9598 0%, #eea261 100%);
$grad-peachy-270: linear-gradient(270deg, #ff9598 0%, #eea261 100%);
$grad-peachy-30: linear-gradient(30deg, #ff9598 0%, #eea261 100%);
$grad-peachy-300: linear-gradient(300deg, #ff9598 0%, #eea261 100%);
$grad-peachy-330: linear-gradient(330deg, #ff9598 0%, #eea261 100%);
$grad-peachy-45: linear-gradient(45deg, #ff9598 0%, #eea261 100%);
$grad-peachy-60: linear-gradient(60deg, #ff9598 0%, #eea261 100%);
$grad-peachy-90: linear-gradient(90deg, #ff9598 0%, #eea261 100%);
$grad-skelly: linear-gradient(270deg, #dbd1d1 0, #f1ecec 50%, #dbd1d1 100%);
$grad-taffy-0: linear-gradient(0deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-120: linear-gradient(120deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-135: linear-gradient(135deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-150: linear-gradient(150deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-180: linear-gradient(180deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-210: linear-gradient(210deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-240: linear-gradient(240deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-270: linear-gradient(270deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-30: linear-gradient(30deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-300: linear-gradient(300deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-330: linear-gradient(330deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-45: linear-gradient(45deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-60: linear-gradient(60deg, #bbb74c 0%, #ff8ecb 100%);
$grad-taffy-90: linear-gradient(90deg, #bbb74c 0%, #ff8ecb 100%);
$grad-twilight-0: linear-gradient(0deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-120: linear-gradient(120deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-135: linear-gradient(135deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-150: linear-gradient(150deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-180: linear-gradient(180deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-210: linear-gradient(210deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-240: linear-gradient(240deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-270: linear-gradient(270deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-30: linear-gradient(30deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-300: linear-gradient(300deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-330: linear-gradient(330deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-45: linear-gradient(45deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-60: linear-gradient(60deg, #ff9598 0%, #a9acff 100%);
$grad-twilight-90: linear-gradient(90deg, #ff9598 0%, #a9acff 100%);
$gray-100: #EDF2F7;
$gray-1000: #252222;
$gray-1100: #292929;
$gray-1200: #252525;
$gray-200: #E2E8F0;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-50: #F7FAFC;
$gray-500: #718096;
$gray-600: #4A5568;
$gray-700: #2D3748;
$gray-800: #1A202C;
$gray-850: #504d4d;
$gray-900: #171923;
$green-100: #C6F6D5;
$green-1000: #142f13;
$green-200: #9AE6B4;
$green-300: #68D391;
$green-400: #48BB78;
$green-50: #F0FFF4;
$green-500: #38A169;
$green-600: #2F855A;
$green-700: #276749;
$green-800: #22543D;
$green-900: #1C4532;
$indigo-100: #ebecff;
$indigo-1000: #161736;
$indigo-200: #dddeff;
$indigo-300: #cecfff;
$indigo-400: #bcbfff;
$indigo-50: #f9f9ff;
$indigo-500: #a9acff;
$indigo-600: #9296ff;
$indigo-700: #767aff;
$indigo-800: #595dda;
$indigo-900: #343780;
$linkedin-100: #CFEDFB;
$linkedin-200: #9BDAF3;
$linkedin-300: #68C7EC;
$linkedin-400: #34B3E4;
$linkedin-50: #E8F4F9;
$linkedin-500: #00A0DC;
$linkedin-600: #008CC9;
$linkedin-700: #0077B5;
$linkedin-800: #005E93;
$linkedin-900: #004471;
$messenger-100: #B9DAFF;
$messenger-200: #A2CDFF;
$messenger-300: #7AB8FF;
$messenger-400: #2E90FF;
$messenger-50: #D0E6FF;
$messenger-500: #0078FF;
$messenger-600: #0063D1;
$messenger-700: #0052AC;
$messenger-800: #003C7E;
$messenger-900: #002C5C;
$modes-dark-background: #292929;
$modes-dark-bg: #292929;
$modes-dark-border: rgba(255, 255, 255, 0.16);
$modes-dark-borderColor: rgba(255, 255, 255, 0.16);
$modes-dark-color: rgba(255, 255, 255, 0.92);
$modes-dark-placeholder: rgba(255, 255, 255, 0.24);
$modes-dark-primary: #ff686b;
$modes-dark-text: rgba(255, 255, 255, 0.92);
$modes-dark-textLight: #717171;
$modes-light-background: #ffffff;
$modes-light-bg: #ffffff;
$modes-light-border: #e6dfdf;
$modes-light-borderColor: #e6dfdf;
$modes-light-color: #252222;
$modes-light-placeholder: #ad9c9c;
$modes-light-primary: #ff686b;
$modes-light-text: #252222;
$modes-light-textLight: #717171;
$orange-100: #FEEBC8;
$orange-1000: #2f2113;
$orange-200: #FBD38D;
$orange-300: #F6AD55;
$orange-400: #ED8936;
$orange-50: #FFFAF0;
$orange-500: #DD6B20;
$orange-600: #C05621;
$orange-700: #9C4221;
$orange-800: #7B341E;
$orange-900: #652B19;
$pink-100: #FED7E2;
$pink-1000: #2b121f;
$pink-200: #FBB6CE;
$pink-300: #F687B3;
$pink-400: #ED64A6;
$pink-50: #FFF5F7;
$pink-500: #D53F8C;
$pink-600: #B83280;
$pink-700: #97266D;
$pink-800: #702459;
$pink-900: #521B41;
$purple-100: #E9D8FD;
$purple-1000: #1b1028;
$purple-200: #D6BCFA;
$purple-300: #B794F4;
$purple-400: #9F7AEA;
$purple-50: #FAF5FF;
$purple-500: #805AD5;
$purple-600: #6B46C1;
$purple-700: #553C9A;
$purple-800: #44337A;
$purple-900: #322659;
$red-100: #FED7D7;
$red-1000: #311c1c;
$red-200: #FEB2B2;
$red-300: #FC8181;
$red-400: #F56565;
$red-50: #FFF5F5;
$red-500: #E53E3E;
$red-600: #C53030;
$red-700: #9B2C2C;
$red-800: #822727;
$red-900: #63171B;
$red-desaturated-200: #f0e5e6;
$red-desaturated-600: #bca9aa;
$red-desaturated-800: #8c7374;
$success-bg: #56ca53;
$success-border: #b8ffb5;
$success-text: #1f481d;
$teal-100: #B2F5EA;
$teal-1000: #132f21;
$teal-200: #81E6D9;
$teal-300: #4FD1C5;
$teal-400: #38B2AC;
$teal-50: #E6FFFA;
$teal-500: #319795;
$teal-600: #2C7A7B;
$teal-700: #285E61;
$teal-800: #234E52;
$teal-900: #1D4044;
$telegram-100: #C5E4F3;
$telegram-200: #A2D4EC;
$telegram-300: #7AC1E4;
$telegram-400: #47A9DA;
$telegram-50: #E3F2F9;
$telegram-500: #0088CC;
$telegram-600: #007AB8;
$telegram-700: #006BA1;
$telegram-800: #005885;
$telegram-900: #003F5E;
$transparent: transparent;
$twitter-100: #C8E9FB;
$twitter-200: #A8DCFA;
$twitter-300: #83CDF7;
$twitter-400: #57BBF5;
$twitter-50: #E5F4FD;
$twitter-500: #1DA1F2;
$twitter-600: #1A94DA;
$twitter-700: #1681BF;
$twitter-800: #136B9E;
$twitter-900: #0D4D71;
$whatsapp-100: #b9f5d0;
$whatsapp-200: #90edb3;
$whatsapp-300: #65e495;
$whatsapp-400: #3cdd78;
$whatsapp-50: #dffeec;
$whatsapp-500: #22c35e;
$whatsapp-600: #179848;
$whatsapp-700: #0c6c33;
$whatsapp-800: #01421c;
$whatsapp-900: #001803;
$white: #FFFFFF;
$whiteAlpha-100: rgba(255, 255, 255, 0.06);
$whiteAlpha-200: rgba(255, 255, 255, 0.08);
$whiteAlpha-300: rgba(255, 255, 255, 0.16);
$whiteAlpha-400: rgba(255, 255, 255, 0.24);
$whiteAlpha-50: rgba(255, 255, 255, 0.04);
$whiteAlpha-500: rgba(255, 255, 255, 0.36);
$whiteAlpha-600: rgba(255, 255, 255, 0.48);
$whiteAlpha-700: rgba(255, 255, 255, 0.64);
$whiteAlpha-800: rgba(255, 255, 255, 0.80);
$whiteAlpha-900: rgba(255, 255, 255, 0.92);
$yellow-100: #FEFCBF;
$yellow-1000: #2b2b12;
$yellow-200: #FAF089;
$yellow-300: #F6E05E;
$yellow-400: #ECC94B;
$yellow-50: #FFFFF0;
$yellow-500: #D69E2E;
$yellow-600: #B7791F;
$yellow-700: #975A16;
$yellow-800: #744210;
$yellow-900: #5F370E;
