$color-scheme: dark;

$body-font-family: "Sofia Pro";
$mono-font-family: "Fira Code";

$body-background-color: $modes-dark-bg;
$body-heading-color: $modes-dark-text;
$body-text-color: $modes-dark-text;
$link-color: $gray-400;
$nav-child-link-color: $gray-400;
$sidebar-color: $gray-900;
$base-button-color: $modes-dark-placeholder;
$btn-primary-color: $blue-200;
$code-background-color: $modes-dark-border;
$code-linenumber-color: $modes-dark-textLight;
$feedback-color: $gray-800;
$table-background-color: $modes-dark-placeholder;
$search-background-color: $modes-dark-placeholder;
$search-result-preview-color: $modes-dark-textLight;
$border-color: $modes-dark-border;
