$color-scheme: light;

$body-font-family: "Sofia Pro";
$mono-font-family: "Fira Code";

$body-background-color: $modes-light-bg;
$body-heading-color: $modes-light-text;
$body-text-color: $modes-light-text;
$link-color: $modes-light-textLight;
$nav-child-link-color: $modes-light-textLight;
$sidebar-color: $gray-100;
$base-button-color: $modes-light-placeholder;
$btn-primary-color: $blue-200;
$code-background-color: $modes-light-border;
$code-linenumber-color: $modes-light-textLight;
$feedback-color: $gray-50;
$table-background-color: $modes-light-placeholder;
$search-background-color: $modes-light-placeholder;
$search-result-preview-color: $modes-light-textLight;
$border-color: $modes-light-border;